In [1]:
import pandas as pd

# Load the CSV file to examine its structure
gap_list_df = pd.read_csv('../clean_data/gap_list.csv')
gap_list_df.head()

   Unnamed: 0 Jurisdiction                                               Gaps
0           0      Alabama  [-3.0, 0.0, 0.0, 1.0, 0.0, -1.0, 1.0, 0.0, 0.0...
1           1       Alaska  [3.0, 4.0, 1.0, 1.0, 2.0, 2.0, 1.0, 3.0, 0.0, ...
2           2      Arizona  [0.0, 4.0, 6.0, 3.0, 0.0, 3.0, 0.0, 3.0, 3.0, ...
3           3     Arkansas  [0.0, -2.0, 1.0, 1.0, 3.0, 0.0, -1.0, 0.0, 2.0...
4           4   California  [-1.0, 4.0, 2.0, 2.0, 2.0, 1.0, 3.0, 3.0, 2.0,...

In [2]:
# Correct the lambda function to handle float strings and convert them to integers
gap_list_df['Gaps'] = gap_list_df['Gaps'].apply(lambda x: [int(float(i)) for i in x.strip("[]").split(", ")])

# Define the years for which we want to expand the 'Gaps' list into separate columns
years = [2000, 2003, 2005, 2007, 2009, 2011, 2013, 2015, 2017, 2019, 2022]

# Expand the 'Gaps' list into separate columns for each year
for i, year in enumerate(years):
    gap_list_df[str(year)] = gap_list_df['Gaps'].apply(lambda x: x[i] if i < len(x) else None)

# Drop the original 'Gaps' column and the unnamed index column
gap_list_df.drop(columns=['Unnamed: 0', 'Gaps'], inplace=True)

# Display the head of the modified DataFrame to verify the changes
gap_list_df.head()

,Jurisdiction,2000,2003,2005,2007,2009,2011,2013,2015,2017,2019,2022
0,Alabama,-3,0,0,1,0,-1,1,0,0,-1,5
1,Alaska,3,4,1,1,2,2,1,3,0,1,-4
2,Arizona,0,4,6,3,0,3,0,3,3,5,6
3,Arkansas,0,-2,1,1,3,0,-1,0,2,3,3
4,California,-1,4,2,2,2,1,3,3,2,3,7

In [3]:
gap_list_df.to_csv('../clean_data/gap_list_year.csv')