In [1]:
import pandas as pd

# Load the CSV file to examine its structure
gap_list_df = pd.read_csv('../clean_data/gap_list.csv')
gap_list_df.head()

  Jurisdiction                                               Gaps
0      Alabama  [-11.0, -15.0, -15.0, -10.0, -12.0, -9.0, -9.0...
1       Alaska  [-9.0, -13.0, -12.0, -11.0, -11.0, -11.0, -14....
2      Arizona  [-10.0, -9.0, -11.0, -8.0, -7.0, -10.0, -9.0, ...
3     Arkansas  [-11.0, -9.0, -11.0, -10.0, -8.0, -10.0, -10.0...
4   California  [-8.0, -8.0, -9.0, -11.0, -9.0, -12.0, -10.0, ...

In [2]:
# Correct the lambda function to handle float strings and convert them to integers
gap_list_df['Gaps'] = gap_list_df['Gaps'].apply(lambda x: [int(float(i)) for i in x.strip("[]").split(", ")])

# Define the years for which we want to expand the 'Gaps' list into separate columns
years = [2002, 2003, 2005, 2007, 2009, 2011, 2013, 2015, 2017, 2019, 2022]

# Expand the 'Gaps' list into separate columns for each year
for i, year in enumerate(years):
    gap_list_df[str(year)] = gap_list_df['Gaps'].apply(lambda x: x[i] if i < len(x) else None)

gap_list_df.drop(columns=['Gaps'], inplace=True)
# Display the head of the modified DataFrame to verify the changes
gap_list_df.head()

,Jurisdiction,2002,2003,2005,2007,2009,2011,2013,2015,2017,2019,2022
0,Alabama,-11,-15,-15,-10,-12,-9,-9,-12,-9,-17,-12
1,Alaska,-9,-13,-12,-11,-11,-11,-14,-14,-10,-11,-16
2,Arizona,-10,-9,-11,-8,-7,-10,-9,-8,-10,-11,-9
3,Arkansas,-11,-9,-11,-10,-8,-10,-10,-13,-8,-12,-10
4,California,-8,-8,-9,-11,-9,-12,-10,-8,-10,-11,-5

In [3]:
gap_list_df.to_csv('../clean_data/gap_list_year.csv')